{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<div class="container col-10">
		<img src="https://via.placeholder.com/500x300" alt="trick picture " class="w-100">

		<div class="container col-12 d-flex flex-wrap justify-content-center" id="tricks">
			{% for trick in tricks %}

				<div class="card col-2 m-1">
					<img src="https://via.placeholder.com/200x200" alt="trick picture" class="card-img-top">
					<div class="card-body">
						<a href="{{ path('app_trick', {'slug' : trick.slug }) }}" class="card-text">{{ trick.name }}</a>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
