{% extends 'base.html.twig' %}

{% block title %}Oups
{% endblock %}

{% block body %}
	<div class="row justify-content-center ">
		<div class="card mt-1 ">
			<div class=" position-relative">
				<img class=" card-img-top img-fluid w-100 " src="/uploads/default/DefaultMedia2.webp" alt="fallguy picture ">
				<h1 class="position-absolute display-1 top-0 start-0 text-dark p-2 text-center">Oups !!</h3>
				<h3 class="position-absolute display-3 top-50 start-50 translate-middle bg-primary text-dark  bg-gradient rounded opacity-75 p-2 shadow-lg text-center border border-secondary ">Petite Erreur de débutant.</h3>
				<h3 class="position-absolute display-3 top-50 start-50 translate-middle  text-secondary rounded  p-2 shadow-lg text-center  ">Petite Erreur de débutant.</h1>

			</div>
		</div>
	</div>
{% endblock %}
