<h1>Mot de passe oublié</h1>
<p>Bonjour {{ user.username }},</p>
<p>Vous venez de faire une demande de nouveau mot de passe sur le site communautaire SnowTricks.</p>
<p>Si vous êtes à l'origine de cette demande, cliquez sur le lien ci-dessous pour créer un nouveau mot de passe :</p>
<p><a href="{{ absolute_url(path('app_reset_password', {token: token})) }}">{{ absolute_url(path('app_reset_password', {token: token})) }}</a></p>
<p>Ce lien expirera dans 3 heures</p>
<p>Sinon ne rien faire, et votre mot de passe ne sera pas modifié.</p>